<div class="row">
  <div class="large-10 columns">
    <div ng-repeat="movie in movies">
      <div class="row">
        <!--<div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>-->
        <div class="large-10 columns">
          <h3>
            <strong>{{movie.name}}</stong>({{movie.rating}})</h3>
          <p>{{movie.release_year}}
            {{movie.gross_income}}</p>
          <p>{{movie.director_name}}
            <br/>
            {{movie.genre}}</p>
          <p>{{movie.actors}}</p>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>
